@charset "UTF-8";

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(255, 253, 240);
}

/* Header */
header {
  border-bottom: 2px solid #111;
  width: 100vw;
  height: 100px;
  padding: 0.5em;
  background-color: #ccc;
}

figure {
  height: 80px;
  line-height: 100px;
  display: inline-flex;
}

header > figure {
  color: #fff;
}

header figure img {
  width: 64px;
  height: 64px;
  line-height: 100px;
}

header figure figcaption {
  margin-left: 1em;
  font-size: 14px;
}

/* Main */

.wrapper {
  display: block;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

main {
  display: block;
  border: 1px solid #111;
  padding: 1em;
  box-shadow: 2px 1px 3px #ccc;
}

h3.titulo-texto {
  border-bottom: 1px solid #000;
  padding: 0.3em;
}

div.conteudo {
  padding: 0.5em;
  text-align: justify;
  margin-top: 1em;
}

div.conteudo p {
  text-indent: 1.5em;
}

/* Footer */
footer {
  width: 100vw;
  border-top: 3px solid rgb(133, 133, 133);
  padding: 0.5em;
  background-color: #ccc;
}

footer figure img {
  width: 32px;
  height: 32px;
  line-height: 80px;
  display: block;
}

footer figure figcaption {
  margin-left: 0.5em;
}
